.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-page .content {
    display: flex;
    flex-direction: row;
    width: 90%;
    align-items: center;
}

.login-page .content .main-text {
    text-align: left;
    flex-shrink: 1;
}

.login-page .content .main-text .login-button {
    margin-top: 70px;
    margin-bottom: 100px;
}

.login-page .content .album-covers {
    flex-basis: 540px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.login-page .content .album-covers .icon {
    padding: 5px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.363);
}

@media only screen and (max-width: 950px) {
    .login-page .content {
        margin-top: 30px;
        width: 80%;
        flex-wrap: wrap;
    }

    .login-page .content .main-text .title {
        font-size: 3rem !important;
        text-align: left;
        flex-shrink: 1;
    }

    .login-page .content .album-covers {
        display: none;
    }
  }