.top-result-label {
    background: linear-gradient(to left, #282c34, rgba(0,0,0,0));
    padding: 10px 20px 10px 120px;
    cursor: pointer;
}

.top-result-label .title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0;
    text-align: right;
}
