.login-button {
    display: inline-block;
    border-radius: 500px;
    padding: 5px 32px 9px;
    background-color: #146281;
}

.login-button:hover {
    cursor: pointer;
    background-color: #1b7ea5;
    transition: 1s;
}

.login-button .link {
    font-size: 1.4rem;
    font-weight: bold;
}
.login-button .link:hover {
    color: #f4f4f4;
    font-size: 1.4rem;
}