.link {
    font-weight: lighter;
    font-size: 1rem;
    text-decoration: none;
    color: #f4f4f4;
    cursor: pointer;
}

.link.opaque {
    opacity: 0.4;
}


.link.opaque:hover{
    opacity: 1;
    transition: 0.5s;
}

.link.dim:hover {
    color: #a4a4a4;
    transition: 0.5s;
}